@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Importa los Partials*/
/*Importa los m├│dulos*/
/*
Mixins:

border-radius
background-size

*/
/* line 11, ../sass/partials/_base.scss */
body {
  background-color: #383838;
}

/* line 14, ../sass/partials/_base.scss */
.mainwrapper {
  position: relative;
}

/* line 18, ../sass/partials/_base.scss */
.center {
  width: 96%;
  padding: 0 2% 0 2%;
  margin: auto;
}

/* line 27, ../sass/partials/_base.scss */
h1, h2 {
  text-align: center;
}

/* line 33, ../sass/partials/_base.scss */
.parallax_img1 {
  background-image: url("../images/lapices.jpg");
}

/* line 37, ../sass/partials/_base.scss */
.parallax_img2 {
  background-image: url("../images/landcape.jpg");
}

/* line 42, ../sass/partials/_base.scss */
.parallax_img3 {
  background-image: url("../images/ojo.jpg");
}

/* line 46, ../sass/partials/_base.scss */
.parallax {
  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

/* line 54, ../sass/partials/_base.scss */
main > section:nth-child(1) > article {
  padding-top: 150px;
}

/* line 57, ../sass/partials/_base.scss */
h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 5em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0.5px 0.5px rgba(255, 255, 255, 0.7);
  letter-spacing: 0.2em;
}
/* line 65, ../sass/partials/_base.scss */
h1 span {
  display: inline-block;
  padding: 0.2em 0.5em;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.9);
  border-width: 0.2em;
}
